* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #3F72AF;
}

i.material-symbols-outlined {
    transform: translateY(-3px);

}

body {
    font-family: "Mozilla Text", sans-serif;
    background-color: #F9F7F7;
}

img {
    width: 100%;
    height: 100%;
}

p {
    line-height: 1.5;
}

header::before {
    content: "";
    background-color: #3F72AF;
    transform: skewY(-10deg) translateY(-200px);
    width: 100%;
    height: 500px;
    position: absolute;
    z-index: -1;
    box-shadow: 0 0 20px 1px #0008;
}

header {
    min-height: 600px;
    display: grid;
    place-content: center;
}

header .about-me {
    width: 80%;
    min-height: 400px;
    place-self: center;
    margin: 1rem;
    transform: translateX(40px);
}

header .about-me h3 {
    font-size: 2rem;
    font-weight: 200;
    margin-bottom: 1rem;
}

header .about-me figure {
    height: 300px;
    box-shadow: 0 0 20px 1px #0008;
    float: left;
    transform-origin: right;
    transform: scale(1.4);
    margin: 1rem;
    position: relative;
    max-width: 300px;
    background-color: #DBE2EF;
}

header .about-me figure figcaption {
    font-size: 1.5rem;
    position: absolute;
    z-index: 1;
    bottom: 0;
    color: #112D4E;
    transform: translateX(25px);
}

header .about-me .text-container {
    background-color: #F9F7F7;
    padding: 2rem;
    box-shadow: 0 0 20px 1px #0008;

}

header .about-me .text-container .links-container {
    display: flex;
    justify-content: end;
    font-size: 1.5rem;
    gap: 1rem;
    margin-top: 2rem;
}


main {
    padding: 2rem;
    margin-top: 2rem;
}

main h3 {
    font-size: 2rem;
}

main .projects-container {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(3, auto);
    place-items: center;
    gap: 2rem;
}

main .projects-container .project {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px 1px #0008;
    height: 400px;
}

main .projects-container .project .description-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

main .projects-container .project .img-container {
    height: 60%;
}

main .projects-container .project .title-container {
    display: flex;
    justify-content: space-between;
}

main .projects-container .project .title-container .links-container {
    display: flex;
    gap: 1rem;
}


footer {
    margin-top: 5rem;
    background-color: #3F72AF;
    display: flex;
    justify-content: space-around;
    padding-bottom: 2rem;
    gap: 1rem;
    padding: 2rem;
}

footer h3 {
    font-size: 2rem;
}

footer .text-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    color: white;
    min-width: 100px;
    margin: 1rem;
}

footer .phone-number,
footer .email {
    gap: 1rem;
    display: flex;
    align-items: center
}

footer .icon {
    width: 30px;
}

footer .text-container .links-container {
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
}

footer .img-container {
    max-width: 600px;
    max-height: 400px;
}

/* Tablets */
@media (max-width:1000px) {
    header .about-me {
        transform: translate(0, 30px);
    }

    header .about-me h3 {
        text-align: center;

    }

    header .about-me figure {
        transform: scale(1.2);
        transform-origin: bottom right;
    }

    header .about-me figure figcaption {
        top: 0;
        transform: translateX(100%);
    }

    header .about-me .text-container .links-container {
        display: none;
    }

    main .projects-container {
        grid-template-columns: repeat(2, auto);

    }

    footer .img-container {
        width: 400px;
    }

}

/* Mobile */
@media (max-width:600px) {
    header {
        min-width: 100%
    }

    header .about-me {
        place-self: center;
        background: none;
    }

    header .about-me figure {
        float: none;
        place-self: center;
        width: 100%;
        transform: none;
    }

    header .about-me figure figcaption {
        top: auto;
        bottom: 0;
        transform: translate(30%, 0px);
    }

    header .about-me .text-container {
        box-shadow: none;
    }

    header .about-me .text-container .links-container {
        display: flex;
        place-self: center;
        color: black;
    }

    main {
        margin-top: 8rem;
    }

    main h3 {
        text-align: center;
    }

    main .projects-container {
        grid-template-columns: auto;
    }

    main .projects-container .project {
        max-width: 100%;
    }

    footer {
        flex-direction: column;
        padding: 0;
    }

    footer .text-container .links-container,
    footer .text-container h3 {
        place-self: center;
    }

    footer .icon {
        display: none;
    }

    footer .img-container {
        width: 100%;
        place-self: center;
    }

}