:root {
    --primary-color1: #4d9aff;
    --primary-color2: #57aae1;
    --primary-color3: #95cfeb;
    --primary-color4: #a5d8ff;

    --secondary-color1: #fff8e7;
    --secondary-color2: #eef8ff;
    --navbar-height: 3rem;
    --border-radius: 15px;
}

/* Resets */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

p {
    line-height: 1.5;

}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
}

li {
    list-style: none;
}


/* General */
html {
    scroll-behavior: smooth;
}

h3 {
    font-size: 1.5rem;
    color: var(--primary-color2);
}

.contact-links {
    display: flex;
    gap: 1rem;
}

.contact-links li {
    width: 50px;
}

section {
    padding: 2rem;
}

p {
    font-size: 1.2em;
}

body {
    margin-bottom: var(--navbar-height);
    min-width: 200px;
}

@media only screen and (min-width:800px) {
    body {
        margin-bottom: 0;
    }
}

.bold {
    font-weight: bold;
}


/* Navbar */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--navbar-height);
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #ddd9;
    /*Check later if this color will change to add it as a variable*/
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    z-index: 1;
}


nav h1 {
    display: none;

}

nav .links li {
    display: inline;
    margin: 0 1em;
}


@media only screen and (min-width:800px) {
    nav {
        position: sticky;
        top: 0;
        justify-content: space-between;
    }

    nav h1 {
        display: inline;
        margin-left: 1em;
    }

}


/* presentation-section */
#presentation {
    background-color: var(--primary-color4);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.img-display {
    background-color: var(--primary-color4);
    display: flex;
    justify-content: center;
}

.img-display,
.info {
    padding: 1rem;
    width: 100%;
}

#presentation .img-container {
    justify-self: center;
    max-height: 400px;
    transform: translate(12px, 30px);
}


.info * {
    margin-top: 1em;
}

.contact-links {
    display: flex;
    justify-content: center;
}

@media only screen and (min-width:800px) {
    #presentation {
        display: flex;
        flex-direction: row-reverse;
        height: 100vh;
        gap: 2rem;
    }

    .img-display {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img-display .img-container {
        min-width: 400px;
        min-height: 400px;
    }

    .info {
        background-color: var(--secondary-color2);
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

}

/* About Me */
.greeting {
    width: 60%;
    margin: 2em auto;
}


/* Technologies  */
#technologies-section {
    background-color: var(--secondary-color2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.technologiesList-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.technologies-container {
    margin: 1rem;
    padding: 1em;
    height: 250px;
    width: 300px;
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);

}

@media only screen and (max-width:300px) {
    .technologies-container {
        width: auto;
        min-width: 100px;
        height: auto;
        min-height: 250px;
    }
}


.technologies-container h4 {
    font-size: 1.3em;
}

.technologies-container ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 2em;
    height: 100%;
}

#technologies-section .technologies-container:nth-of-type(1) {
    background-color: var(--primary-color1);
}

#technologies-section .technologies-container:nth-of-type(2) {
    background-color: var(--primary-color2);
}

#technologies-section .technologies-container:nth-of-type(3) {
    background-color: var(--primary-color3);
}

.technologies-container img {
    width: 50px;
    height: 50px;
}


/* Projects  */

#projects-section {
    background-color: var(--secondary-color1);
}

.projects-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-top: 3rem;
}

.project-details p {
    margin-bottom: 1rem;
}

.project-details {
    display: flex;
    flex-direction: column;
}

.separator {
    margin: 2rem;
}


.project-title {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: unset;
}

.project-links {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--primary-color1);
    padding: 1rem;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.img-container {
    margin: 0;
    max-width: 500px;
    max-height: 500px;
    line-height: 0;
}

.project-container .img-container img {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}


.project-links a {
    width: 10%;
    height: 10%;
}


@media only screen and (min-width:800px) {
    .project-details.right {
        flex-direction: row;
        justify-content: space-around;
    }

    .project-details.left {
        flex-direction: row-reverse;
        justify-content: space-around;
    }

    .project-description {
        max-width: 500px;
        align-content: center;
    }

    .project-links {
        display: flex;
        justify-content: space-evenly;
        justify-items: center;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        transform: scale(0);
        background-color: #00000016;
        -webkit-backdrop-filter: brightness(60%) blur(2px);
        backdrop-filter: brightness(60%) blur(2px);
        border-radius: var(--border-radius);

    }

    .project-links a {
        align-self: center;
        width: 20%;
        height: 20%;
    }

    .project-container:hover .project-links {
        transform: scale(1);

    }

    .project-container img {
        border-bottom-left-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
        position: relative;

    }

}


/* Experience */

#experience-section {
    background-color: var(--secondary-color2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 4rem;
}

#experience-section h3 {
    margin-bottom: 1rem;
}

.experience-#presentation-section {
    font-style: italic;
    font-size: 1.6em;
    margin-bottom: 0.5em;
}

#experience-section li {
    font-size: 0.8em;
}


/* Footer */

footer {
    background-color: var(--primary-color2);
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer .copyright {
    font-size: 0.8em;
    transform: translateY(2rem);
}


.contact-links {
    margin: 3rem 0;
}